# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
nvenv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
.DS_Store

# Large files (if not using Git LFS)
# *.keras
# *.h5

# Jupyter Notebooks
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.coverage
htmlcov/
